pytest
pytest-html
pytest-xdist
coverage
black>=26.3.1
flake8
wheel
twine
toml
filelock
ruff; python_version >= "3.7"
mypy
setuptools
git-cliff
boto3
moto[s3]
fastapi
httpx
uvicorn
scikit-learn
xgboost
torch
lightning
pytorch-lightning
tensorflow
keras
